body {
    padding: 0;
    margin: auto;
    max-width: 1200px;
}

.main-header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.nav-bar,
.nav-list {
    display: flex;
    list-style: none;
}

a,
ul{
    color: #e5e6eb;
    text-decoration: none;
    gap: 12px;
    margin-right: 12px;
}

.logo {
    color: #f9faf8;
    align-self: center;
    font-size: 24px;
    margin-left: 12px;
}

img {
    max-width: 3000px;
    max-height: 300px;
}