body {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto';
}

#main-wrapper,
#second-wrapper {
    background-color: #1F2937;
}

#third-wrapper,
#fifth-wrapper {
    background-color: #f9faf8;
}

#fourth-wrapper{
    background-color: #e5e7eb;
}

.main-header {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.nav-bar,
.nav-list {
    display: flex;
    list-style: none;
}

a,
ul{
    color: #e5e6eb;
    text-decoration: none;
    font-size: 18px;
    align-self: center;
    gap: 12px;
    margin-right: 12px;
}

.logo-img {
    border-radius: 8px;
    width: 50px;
    height: 50px;
    float: left;
    background-color: #ffffff;
    margin: 8px;
    filter: invert(11%) sepia(6%) saturate(4180%) hue-rotate(176deg) brightness(94%) contrast(86%);
}

.logo {
    color: #f9faf8;
    align-self: center;
    font-size: 24px;
    margin-right: auto;
    margin-left: 8px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 30px;

}

.main-text {
    line-height: .8cm;
    font-size: 20px;
    color: #e5e6eb;
}

.blue {
    color: #3882F6;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.main-image {
    align-self: center;
    max-width: 350px;
    min-height: 200px;
    border: #f9faf8 solid 1px;
}

.button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-color: #3882F6;
    border-radius: 8px;
}

.content {
    margin: auto;
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    padding: 20px;
}

h3 {
    font-size: 38px;
    color: #1F2937;
    text-align: center;
    font-weight: bolder;
}

.sub-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sub-content img {
    width: 250px;
    height: 200px;
    border-radius: 12px;
    border: #3882F6 solid 4px;
}

.sub-content-subtext {
    display: flex;
    justify-content: space-between;
    color: black;
    gap: 20px;
    font-size: 18px;
}

.sub-content-subtext p {
    width: 250px;
}

.quote {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #e5e7eb;
    height: 100px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.author {
    text-align: right;
}

.call-to-action-out{
    padding: 40px;
}

.call-to-action-in {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #3882F6;
    padding: 15px;
    color: #f9faf8;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.big {
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
}

.small {
    font-size: 14px;
    font-weight: 600;
}

.button-end {
    align-self: center;
    margin-right: 50px;
}

.button-end button{
    background-color: #3882F6;
    color: #f9faf8;
    border: white 2px solid;
    padding: 8px 16px;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
}

.footer p {
    color: #f9faf8;
}