body {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.nav-bar,
.nav-list {
    display: flex;
    list-style: none;
}

a,
ul{
    color: #e5e6eb;
    text-decoration: none;
    gap: 12px;
    margin-right: 12px;
}

.logo {
    color: #f9faf8;
    align-self: center;
    font-size: 24px;
    margin-left: 12px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 20px;

}

.main-text {
    line-height: 3.5em;
    font-size: 18px;
    color: #e5e6eb;
}

.header {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.main-image {
    align-self: center;
    max-width: 500px;
    min-height: 200px;

}

.button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-color: #3882F6;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 38px;
    color: #1F2937;
    font-weight: bolder;
}

.sub-content {
    display: flex;
    gap: 20px;
}

.sub-content img {
    width: 180px;
    height: 180px;
    border-radius: 12px;
}

.sub-content-subtext {
    display: flex;
    gap: 20px;
}

.sub-content-subtext p {
    width: 180px;
}

.quote {
    background-color: #e5e7eb;
    height: 100px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.author {
    text-align: right;
}

.footer-out{
    padding: 40px;
}

.footer {
    background-color: #3882F6;
    padding: 12px;
    color: #f9faf8;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.footer a {
    font-size: small;
}

.button-end {
    align-self: center;
    margin-right: 20px;
}

.button-end button{
    background-color: #3882F6;
    color: #f9faf8;
    border: white 2px solid;
    padding: 8px 16px;
    border-radius: 8px;
}